body {
  margin: 0;
  padding: 0;
  background-color: #e9ebed;
  font-family: 'Lucida Grande', Tahoma, Segoe UI, San Francisco, Roboto;
}

#barra {
  height: 43px;
  background-color: #5066ae;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#contingut {
  width: 852px;
  height: 2000px;
  margin: 0 auto;
  background-position: center;
  /*overflow: hidden;*/
}


#contingut #cap {
  margin-top: 43px;
  background-color: white;
  height: 403px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-image: url(img/portada.jpg);
  /*box-shadow: 1px 1px 1px grey;*/
  border: 1px solid #DDD;
  border-radius: 3px;
}

#cap img{
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: solid white 4px;
  position: relative;
  top: 200px;
  left: 21px;
  box-shadow: 2px 2px 2px #666666;
}

#cap h1{
  font-family: helvetica;
  font-size: 25px;
  position: relative;
  top: 90px;
  left: 220px;
  color: white;
  text-shadow: 2px 2px 2px/*el tercer 2 es la sombra en desenfoc*/ #666666;
}
#cap h3{
  font-size: 15px;
  position: relative;
  top: 75px;
  left: 220px;
  color: white;
  text-shadow: 0px 0px 0px/*el tercer 2 es la sombra en desenfoc*/ #666666;
}

p {
  /*text-align: justify;*/
}

#contingut #menu {
  height: 43px;
  width: 626px;
  background-color: #DDD;
  float: right;
  padding: 0;
  margin-top: 77px;
}

#menu li{
  float:left;
  margin: 0 0 0 1px;
  list-style-type: none;
  background-color: white;
  color: #3b5998;
  display: block;
  height: 43px;
  padding: 0 20px;
  line-height: 43px;
}

#principal {
  /*background-color: pink;
  height: 500px;
  overflow: hidden;*/
}

#seccions {
  width: 321px;
  float: left;
  overflow: hidden;
}

aside {
  /*width: 322px;*/
  float: left;
}

.esquerra {
  /*height: 200px; no sa de posar o la caixa esta limitada i amb el overflow hidden desaparece por detras COMO TEXTO DESBORDADO*/
  width: /*321px*/297px;/*es cambia perque li hem posat un padding de 12*/
  float: left;
  clear: left;
}

#fotos {
  background-color: red;
}

.dreta {
  float: right;
  clear: right;
  height: 350px;
  width: /*515px*/491px;

}

h3 {
  text-indent: 24px;
  background-image: url(img/lataral1.png);
  background-repeat: no-repeat;
  background-position: 0 -24px;
  text-indent: 26px;
  height: 24px;
}
#presentacio h3 {
  background-position: 0 0px;
}
#presentacio p {
  margin-bottom: solid 1px #DDD;
}

#amistats h3 {
  background-position: 0 -48px;
}
#fotos h3 {
  background-position: 0 -24px;
}

.esquerra, .dreta {
  background-color: white;
  border-radius: 3px;
  border: solid 1px #DDD;
  margin-top: 12px;
  padding: 12px;
  overflow: hidden;
}

.esquerra li, .dreta li {
  list-style: none;
  float: left;
  padding: 0 20px;
  line-height: 43px;
}

#presentacio, #amistats, #fotos {
  padding: 12px;
}

#presentacio .estudis {
  list-style-image: url(img/icn/icones_estudis.png);
}
#presentacio .feina {
  list-style-image: url(img/icn/icones_feina.png);
}
#presentacio .domicili {
  list-style-image: url(img/icn/icones_domicili.png);
}
#presentacio .naixement {
  list-style-image: url(img/icn/icones_esdeveniments.png);
}
#presentacio .sentimental {
  list-style-image: url(img/icn/icones_sentimental.png);
}
#amistats ul{
  padding: 0px;
  margin: 0;
  position: relative;
  overflow: hidden;
}

#amistats li{
  width: /*32,5%*/85px;
  height: 85px;
  background-color: red;
  margin: 1px;
  float: left;
  background-image: url('https://mpanchame2019crn.github.io/M08//Facebook/facebook.html');
  background-position: center;
  background-size: 100%;
  position: relative;
}
#amistats a:link {
  color: white;
  text-decoration: none;
  position: absolute;
  bottom: 99px;
  background-color: pink;
  width: 99px;
  height: 99px;

}

#amistats a:visited {
  color: white;
  text-decoration: none;

}


#MG {
  background-image: url('https://mpanchame.crn.github.io/M08//Facebook/img/perfil.png');

}
#fotos ul li {
  background-color: red;
  display: block;
  width: 99px;
  height: 99px;
  margin: 4px;
  float: left;
  background-size: 99px 99px;
  color: transparent;
}

#f01 { background-image: url(img/fotos/f01.jpg); }
#f02 { background-image: url(img/fotos/f02.jpg); }
#f03 { background-image: url(img/fotos/f03.jpg); }
#f04 { background-image: url(img/fotos/f04.jpeg); }
#f05 { background-image: url(img/fotos/f05.jpg); }
#f06 { background-image: url(img/fotos/f06.jpg); }
#f07 { background-image: url(img/fotos/f07.jpg); }
#f08 { background-image: url(img/fotos/f08.jpg); }
#f09 { background-image: url(img/fotos/f09.jpg); }


#estat {
  background-color: pink;
  overflow: hidden;
  padding: 0 12px;
  width: 492px;
}

#crear {
  height: 38px;
  width: 516px;
  background-color: #e9ebed;
  margin: 0;
  padding: 0;
  float: left;
  overflow: hidden;
  padding: 12px;
  position: relative;
  left: -12px;

}

#crear li {
  list-style: none;
  margin: 0 0 0 1px;
  height: 38px;
  padding: 0 10px;
  font-size: 8px;
  line-height: 48px;
  background-color: white;

}

input /*pensament*/{
  display: block;
  clear: left;
  padding: 12px;
  position: relative;
  left: -12px;
  width: 516px;
  height: 71px;
  font-size: 1.5em;
  background-image: url(/img/perfil.png);
}

#miniperfil{
  float: left;
  clear: left;
  padding: 12px;
  position: absolute;
  top: 0px;
  overflow: hidden;
  position: relative;
}

#botonera_estat {
  height: 38px;
  width: 516px;
  background-color: #f5f5f7;
  margin: 0 0 0 1px;
  font-size: 8px;
  line-height: 38px;
  padding: 12px;
  position: relative;
  left: -12px;



}

#botonera_estat



#botonera_estat li:hover{
  opacity: 0.5;
}


#crear li {
  background-color: #f5f5f7;
  text-indent: 24px;
}

#publica {
  background-image: url();
  background-repeat: no-repeat;
  background-position: 6px 6px;
}

.entrada input {
  display: block;
  clear: both;
  background-color: #e9ebed;
  border: solid grey 1px;
  border-radius: 24px;
  line-height: 2em;
  padding: 8px;
  font-size: 1.3em;
  margin-left: 60px;
  width: 87%;

}

.entrada input:after{
  content:url(img/perfil.png)
}

#agrada{

}
